body{
	background-color: #ffe6e6;
}


h1 {
	font-size: xx-large;
	color: black;
	text-align: center;
	
	}

h2{
	font-weight: bolder;
	text-align: center;
    text-decoration: underline;
    text-decoration-style: solid 

}

p{
	text-align: center;
}

img.center {
  display: block;
   margin-left: auto;
   margin-right: auto;
   height: 250px;
   width: 45%;
}